/* label {
  font: 300 1rem Roboto, helvetica, sans-serif;
  color: #212121; 
  display: block;
  padding: 2px;
}

p {
  font: 300 1rem Roboto, helvetica, sans-serif;
  color: #212121; 
}
  .diagram-component {

    min-height: 120px;
    height: 69vh;

    border: solid 1px black;
    background-color: white;
  } */